<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user1.socialappaut">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/AUT_Social">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".CampusSelectionActivity"
            android:label="@string/campus" />
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/home" />
        <activity
            android:name=".TravelSectionActivity"
            android:label="@string/menu" />
        <activity
            android:name=".StudentBoardSectionActivity"
            android:label="@string/menu" />
        <activity
            android:name=".EventsSectionActivity"
            android:label="@string/menu"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity
            android:name=".FoodAndBarActivity"
            android:label="@string/foodnbar" />
        <activity
            android:name=".FoodMenuActivity"
            android:label="@string/menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrinkItemMenuActivity"
            android:label="@string/title_activity_drink_item_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CarpoolActivity" />
        <activity android:name=".ShuttleActivity"></activity>
    </application>

</manifest>